@(model: DataModel)
@main("Find Book"){
<h1>Google Book Api Project</h1>

<body>

<div class="justify-content-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id     </th>
            <th scope="col">name     </th>
            <th scope="col">description     </th>
            <th scope="col">number of sales     </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">@model._id</th>
            <td>@model.name</td>
            <td>@model.description</td>
            <td>@model.numSales</td>
        </tr>

        </tbody>
    </table>
</div>

</body>
}